{% extends 'login.html.twig' %}

{% block title %} Login {% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <h1>Login!</h1>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
        {{ form_end(form) }}
    </div>
{% endblock %}