{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="class=container">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 3%; margin-bottom: 10%;">

            <h1 style="text-align: center;">Hello {{ userLogin }}!</h1>

            <h2 style="color: #337ab7">Dashboard</h2>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a type="submit" href="{{ path('articleCreation') }}"
                       class="btn btn-primary" style=" margin-left: 300px;">create new article
                    </a>
                </div>
            </div>
            <p>All your arlicles are displayed here</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Body</th>
                    <th>Published At</th>
                </tr>
                </thead>

                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>
                            {{ article.Title }}
                        </td>
                        <td>
                            {{ article.Description }}
                        </td>
                        <td>
                            {{ article.Body }}
                        </td>
                        <td>
                            {{ article.publishedAt|date('Y-m-d H:i:s') }}
                        </td>


                    </tr>

                {% endfor %}

                </tbody>

            </table>


        </div>
    </div>
{% endblock %}




